.product-upvote-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
  
    /* justify-content: center; */
  }
  .product-upvote-container p {
    color: #556b2f;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .product-upvote-container .upvote-button:hover,
  .product-upvote-container .remove-upvote:hover {
    cursor: pointer;
  }
  