.seller-products-container .products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.seller-products-container .product-card {
  background-color: None;
  border-bottom: 1px dashed #4a90e2;
  border-radius: 0px;
  box-shadow: none;
  font-size: 0.8em;
  margin: 5px;
  margin-bottom: 15px;
  overflow: auto;
  padding: 0px;
  padding-bottom: 10px;
  width: auto;
}

.seller-products-container .product-card:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.seller-products-container .product-card:first-of-type {
  margin: 0 0 5px 0;
}

.seller-products-container .product-card p {
  margin: 2px 0;
}

.seller-products-container .product-card a {
  color: #4a90e2;
  font-weight: bold;
  text-decoration: none;
}

.seller-products-container .product-details .overview {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.seller-products-container .product-details .product-image {
  align-self: center;
  height: auto;
  width: 20%;
}

.seller-products-container .product-details .product-image img {
  height: 100%;
  margin: 0 20%;
  width: 60%;
}



.seller-products-container .pagination {
    justify-self: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    width: auto;
}

.seller-products-container .MuiPagination-ul {
  justify-content: center;
}

.seller-products-container .MuiPaginationItem-root {
  color: #555;
  font-family: "Courier New", Courier, monospace !important;
  font-size: 0.8em;
}

.seller-products-container .MuiPaginationItem-root.Mui-selected {
  font-weight: bold;
}

.seller-products-container .MuiPaginationItem-root:hover {
  background-color: #dae2f1;
}